APP_ENV=development
APP_PORT=8080
SCHOOL_CODE=SMKN2SGS

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=db_eletter

JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=24h
JWT_REFRESH_EXPIRES_IN=720h

ADMIN_USERNAME=your_admin_username
ADMIN_PASSWORD=your_admin_password

CORS_ALLOWED_ORIGINS=your_cors_url
